# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./dev.db"
# unsername: admin
ADMIN_USERNAME="admin"
# password: password
HASHED_ADMIN_PASSWORD="sQnzu7wkTrgkQZF+0G1hi5AI3Qmzvv0bXgc5THBqi7mAsdd4Xll27ASbRt9fEyavWi6m0QP9B8lThf+rDKy8hg=="

STRIPE_SECRET_KEY="sk_test......."
NEXT_PUBLIC_STRIPE_PUBLIC_KEY="pk_test......"
STRIPE_WEBHOOK_SECRET="whsec_......."

NEXT_PUBLIC_SERVER_URL=http://localhost:3000

RESEND_API_KEY="re_......."
RESEND_FROM_EMAIL="example@mail.com